@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  list-style-type: none;
}

body {
  background-color: #01002f;
}

.nav_link {
  margin-left: 94px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
}

.nav_link:focus,
.nav_link:hover {
  color: #ffffffbb;
}

/* Start Banner */
#banner {
  margin-top: 200px;
}
/* End Banner */

.bannerText1 {
  color: #fff;
  font-family: Outfit;
  font-size: 64px;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.text {
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
  margin-bottom: 50px;
}

.banner_btn_container {
  justify-content: space-between;
}

.button {
  font-family: Outfit;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.46px;
  text-transform: uppercase;
  border-radius: 52px;
  max-width: 280px;
  padding: 20px 55px;
}

.btn_violet,
.button_footer:hover,
.btn_default:hover {
  background-color: #9192dd;
  color: #ffffff;
  outline: none;
}

.btn_default,
.btn_violet:hover {
  color: #ffffff;
  outline: 1px solid #87d0d0;
}

.featured_title {
  color: #f5f5f5;
  font-family: Outfit;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 90.5px;
  letter-spacing: 0.46px;
  text-transform: uppercase;
  margin-top: 180px;
}

.featured_images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  background: rgba(41, 35, 93, 0.57);
  height: 70px;
  padding: 0 15px;
}

.title_analytics {
  color: #87d0d0;
  font-family: Outfit;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 90.5px;
  letter-spacing: 0.46px;
  text-transform: uppercase;
}

.text_analytics {
  color: #fff;
  font-family: Roboto;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 64.5px;
  letter-spacing: 0.26px;
  text-transform: capitalize;
}

.undertext_analytics {
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
}

#analitycs {
  margin-top: 196px;
}

.analytic_img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.analytic_item {
  margin-bottom: 175px;
}

.btn_analytics {
  padding: 20px 40px;
}

#testimonials {
  margin-top: 200px;
}

.testimonials_tittle {
  color: #f5f5f5;
  text-align: center;
  font-family: Outfit;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 90.5px;
  letter-spacing: 0.46px;
  text-transform: uppercase;
}

.testimonials_tittle_under {
  color: #f5f5f5;
  text-align: center;
  font-family: Outfit;
  font-size: 77px;
  font-style: normal;
  font-weight: 700;
  line-height: 90.5px;
  letter-spacing: 1.54px;
  text-transform: uppercase;
}

.persons {
  margin-top: 150px;
}

.persons_item {
  max-width: 360px;
  height: 272px;
  border-radius: 31px;
  background: #181449;
  margin: 0 auto 120px;
  text-align: center;
}

.persons_item_img {
  mix-blend-mode: luminosity;
  width: 154px;
  height: 154px;
  flex-shrink: 0;
  border-radius: 100%;
  margin-top: -88px;
}

.persons_item_name {
  color: #f5f5f5;
  text-align: center;
  font-family: Outfit;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 90.5px;
  letter-spacing: 0.46px;
  text-transform: uppercase;
}

.persons_item_comment {
  color: #f5f5f5;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#footer_banner {
  margin-top: 130px;
}

.footer_banner_text {
  color: #000;
  font-family: Outfit;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 90.5px;
  letter-spacing: 0.46px;
  text-transform: uppercase;
}

.footer_banner_undertext {
  color: #f5f5f5;
  text-align: center;
  font-family: Outfit;
  font-size: 77px;
  font-style: normal;
  font-weight: 700;
  line-height: 90.5px;
  letter-spacing: 1.54px;
  text-transform: uppercase;
}

.banner_footer {
  border-radius: 33px;
  background: linear-gradient(314deg, #87d0d0 0%, #4b4dca 100%);
  padding: 75px;
}

.fb_btn {
  background-color: #181449;
}

/* footer */

#footer {
  margin-top: 80px;
}

.email_form {
  border-radius: 202px;
  background-color: #181449;
  padding: 5px;
}

.email_form > input {
  background-color: transparent;
  border: none;
  margin-left: 10px;
}

.email_form > input:focus,
.email_form > input::placeholder {
  color: #f5f5f5;
  font-family: Roboto;
  font-size: 16px;
}

.btn_submit {
  font-size: 13px;
  padding: 10px 30px;
}
